.flex-btn{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.del-btn,
.edit-btn{
    cursor: pointer;
}
#todo-list{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}